* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

/* ------------ Inicio sección encabezado ------------ */
#encabezado {
    background-color: white;
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    margin-left: 130px;
}

#dogsImage {
    margin-top: 88px;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}

#listaMenu {
    list-style-type: none;
    width: auto;
    display: flex;
}

.elementoMenu {
    margin-right: 70px;
}

.elementoMenu>a {
    text-decoration: none;
    font-size: 20px;
    color: #160e0d;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan {
    width: 100%;
    height: 250px;
}

.slogan h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #160e0d;
}

/* ------------ Fin sección encabezado ------------ */

/* ------------ Inicio sección sobre nosotros ------------ */

#sobreNosotros {
    width: 100%;
    padding: 0 130px;
    background: #fbf8f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobreNosotros img {
    margin-bottom: 10%;
}

.titulo {
    margin: 30px 0;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #160e0d;
    text-align: center;
    padding-top: 90px;
}

.contenido {
    margin-bottom: 40px;
}

.contenido p {
    text-align: center;
    margin: 2% 0;
}

/* ------------ Fin sección sobre nosotros ------------ */

/* ------------ Inicio sección adopta un animal ------------ */
#adoptaUnAnimal {
    width: 100%;
    padding: 0 130px;
    margin-bottom: 100px;
}

.main {
    width: 100%;
    display: flex;
    gap: 40px;
}

.contenedorFiltro {
    margin-bottom: 60px;
}

.containerLabel {
    width: 350px;
    background: #a09592;
    border-radius: 6px;
    padding: 6px 16px;
    margin-bottom: 20px;
}

.label {
    width: 100%;
    color: white;
    font-size: 24px;
    line-height: 45px;
}

.inputBuscar {
    border: 1px solid #a09592;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 16px;
}

.input {
    border: none;
    outline: none;
}

.containerCheck {
    margin: 16px 0px;
    color: #a09592;
    line-height: 24px;
}

.inputCheck {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.containerCards {
    float: right;
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 331.5px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 2px 15px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 20%);
    -webkit-transform: translateY(-5px) scale(1.005) translateZ(0);
    -ms-transform: translateY(-5px) scale(1.005) translateZ(0);
    transform: translateY(-5px) scale(1.005) translateZ(0);
    -webkit-transition: -webkit-transform linear 0.125s;
    transition: -webkit-transform linear 0.125s;
    transition: transform linear 0.125s;
    transition: transform linear 0.125s, -webkit-transform linear 0.125s;
}

#perro1 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro1/perro1.png);
    background-size: cover;
    background-position: center;
}

#perro2 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro2/perro2.png);
    background-size: cover;
    background-position: center;
}

#perro3 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro3/perro3.png);
    background-size: cover;
    background-position: center;
}

#perro4 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro4/perro4.png);
    background-size: cover;
    background-position: center;
}

#perro5 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro5/perro5.png);
    background-size: cover;
    background-position: center;
}

#perro6 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro6/perro6.png);
    background-size: cover;
    background-position: center;
}

#perro7 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro7/perro7.png);
    background-size: cover;
    background-position: center;
}

#perro8 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro8/perro8.png);
    background-size: cover;
    background-position: center;
}

#perro9 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro9/perro9.png);
    background-size: cover;
    background-position: center;
}

#perro10 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/perros/perro10/perro10.png);
    background-size: cover;
    background-position: center;
}

#gato1 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/gatos/gato1/gato1.png);
    background-size: cover;
    background-position: center;
}

#gato2 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/gatos/gato2/gato2.png);
    background-size: cover;
    background-position: center;
}

#gato3 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/gatos/gato3/gato3.png);
    background-size: cover;
    background-position: center;
}

#gato4 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/gatos/gato4/gato4.png);
    background-size: cover;
    background-position: center;
}

#gato5 {
    background-image: linear-gradient(180deg,
            rgba(205, 189, 189, 0) 60%,
            rgb(220, 200, 200) 100%),
        url(../assets/animales/gatos/gato5/gato5.png);
    background-size: cover;
    background-position: center;
}

.textCard {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonCard {
    color: white;
    background-color: #ac8571;
    font-size: 20px;
    margin-top: 8px;
    border: none;
    width: 250px;
    padding: 6px 0;
    border-radius: 0px 0px 6px 6px;
}

.buttonCard:hover {
    background-color: #efb07d;
    cursor: pointer;
}

.mas {
    width: 65%;
    text-align: end;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    line-height: 45px;
    color: #867170;
    margin: 60px 0;
}

.mas:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ------------ Fin sección adopta un animal ------------ */

/* ------------ Inicio sección contacto ------------ */
#contacto {
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.86),
            rgba(255, 255, 255, 0.86)),
        url("../assets/ContactDog.png") center center;

    font-family: 'Poppins';
    padding: 0 130px 80px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorContacto {
    width: 60%;
    margin-top: 10px;
}

#contenedorContacto>h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
}

#formu {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.etiquetaFormu {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #AC8571;
    margin-top: 10px;
}

.inputFormu {
    border: 1px solid #AC8571;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.0);
    margin-top: 10px;
    color: #AC8571;
    font-size: 20px;
    padding: 12px 16px;
}

#formu input::placeholder,
#formulario input::placeholder {
    -webkit-appearance: none;
    font-size: 20px;
    line-height: 30px;
    color: #AC8571;
}

#formu input:focus::placeholder {
    color: #AC8571;
}

#formu input:focus {
    outline: none;
}

textarea {
    height: 137px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
    font-family: 'Poppins';
}

textarea::placeholder {
    color: #AC8571;
    font-family: 'Poppins';
}

.btn-primario,
#btn-confirmar {
    width: 100%;
    padding: 21px 45px;
    font-size: 20px;
    color: #FFFFFF;
    background: #AC8571;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.2s;
    border: none;
}

.btn-primario:hover,
#btn-confirmar:hover {
    background-color: #EFB07D;
}

/* ------------ Fin sección contacto ------------ */

/* ------------ Inicio Modal contacto ------------ */
.fondo {
    width: 100%;
    height: 1080px;
    background-color: #6a64645a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 16px 45px;
    position: absolute;
    width: 550px;
    background: white;
    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
}
.tituloModal h3{

font-weight: 700;
margin: 0;
}

/* ------------ Fin Modal contacto ------------ */

/* ------------ Inicio sección Footer ------------ */
footer {
    width: 100%;
    background-color: #1d242b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
}

#whiteLogo {
    margin-bottom: 30px;
}

.datosEmpresa {
    line-height: 34px;
}

.socialLinks {
    margin: 30px 0;
}

.socialLinks img {
    cursor: pointer;
}

.horarioTextosBoletin {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.titulosFooter {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.horario {
    display: flex;
    justify-content: space-between;
    line-height: 34px;
}

.textosLegales p {
    line-height: 34px;
}
.boletinForm{
    width: 80%;
}
.boletin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBoletin {
    width: 100%;
    background: #4A5055;
    border-radius: 6px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.inputBoletin input,
.inputBoletin input::placeholder {
    -webkit-appearance: none;
    border: none;
    width: 85%;
    background: #4A5055;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
}

.inputBoletin input:focus {
    outline: none;
}

.inputBoletin input:focus::placeholder {
    color: white;
}

.btnIcon{
    border: none;
    background: none;
    cursor: pointer;
}

/* ------------ Fin sección Footer ------------ */


/* <!--------------Responsive----------------> */

@media screen and (min-width: 1900px) {
    .main {
        gap: 80px;
    }

    .containerCards {
        gap: 64px;
    }
}